/* common styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-common {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 ;
}

.dark-1 {
    color: #131313;
    
}

.dark-2 {
    color: #424242;
    font-weight: 1rem;
    font-size: medium;
}
.dark-3 {
    color: #727272;
    font-size: 16px;
    
}

.primary-btn {
    background-color:#FF900E ;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

/* header section styles */
header, footer{
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 32px;
   
}

.header {
     max-width: 1440px;
    margin: 0 auto;

}

/* nav styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav ul {
    display: flex;
}

.nav li {
    list-style: none;
    margin-left: 24px;
}

.nav li a {
    text-decoration: none;
    font-weight: 500;
}

/* banner section */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-img {
    width: 100%;
}

/* Team features related styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.team-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 84px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.feature-content {
    margin-left: 130px;
    max-width: 530px;
}

#s-3 {
    color: #FF900E;
}


/* features section related styles */
.features {
    display: flex;
    margin-top: 64px;
    gap: 100px;
}

.features-section-title {
    border-left: solid 5px #FF900E;
    padding-left: 16px;
}

.feature-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}

#experience-year{
    font-size: 4rem;
    font-weight: 700;
}

.featured-architecd img {
    width: 100%;
}


/* Facts section */

.facts-container {
    display: flex;
    gap: 24px;
    flex-wrap:1;

}

.fact-card {
    padding: 16px 25px;
    text-align: center;
    border: solid 3px #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
}

.fact-card img {
    margin-top: 48px;
}


/* sponsors section */

.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 48px;
}
.sponsor-companies img {
    filter: grayscale(100%);
}

footer {
    height: 200px;
}
footer p {
    text-align: center;
    padding: 48px;
    margin-top: 100px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    
     .nav ul{
        flex-direction: column;
        gap: 20px;
    }

    .team-feature,.features, .nav, .facts-container {
        flex-direction: column;
    }

    .team-img {
        grid-template-columns: repeat(1,1fr);
    }

    .feature-content{
        margin-left: 24px;
    }
    #experience-badge {
        margin-top: 10px;
        margin-left: 5px;
    }

    .fact-card {
        margin: 0 auto;
    }
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
    }

   .sponsor-companies img {
    margin: 0 auto;
    }
}